<!DOCTYPE html>
<html>
<head>
    <title>Your Bitende Junior School login details</title>
</head>
<body>
    <p>Dear {{ display_name }},</p>
    <p>Your {{ role_label }} account has been prepared on the Bitende Junior School Management System.</p>
    <p><b>Username:</b> {{ username }}</p>
    <p><b>Temporary Password:</b> {{ password }}</p>
    <p><b>Login at:</b> <a href="{{ login_url }}">{{ login_url }}</a></p>
    <p>Please sign in, change the temporary password immediately, and use the registered phone or email if you need to reset access later.</p>
    <p>Regards,</p>
    <p>Bitende Junior School Administration</p>
</body>
</html>
