<!DOCTYPE html>
<html>
<head>
    <title>Your Bitende Junior School login details</title>
</head>
<body>
    <p>Dear {{ teacher_name }},</p>
    <p>Your account has been set up on the Bitende Junior School Management System.</p>
    <p><b>Username:</b> {{ username }}</p>
    <p><b>Temporary Password:</b> {{ password }}</p>
    <p><b>Login at:</b> <a href="{{ login_url }}">{{ login_url }}</a></p>
    <p>Please log in and change your password immediately. Do not share these details with anyone.</p>
    <p>Regards,</p>
    <p>Bitende Junior School Administration</p>
</body>
</html>
