Django
djangorestframework
django-allauth
django-cors-headers
Pillow
requests
reportlab
twilio
python-decouple
gunicorn
qrcode # Added for QR code generation
whitenoise
dj-database-url
psycopg2-binary
django-storages[boto3]
